/* ESTILOS GERAIS */
* {
    padding: 0;
    margin: 0;
    background-color: #050202;
    font-family: Helvetica;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

.interface {
    max-width: 1300px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.titulos-perso {
    margin-top: 150px;
    color: #ffdddd;
    font-size: 2.2rem;
    text-align: center;
}

.titulos-perso span {
    color: #ffa500;
}

#btn-abrir-menu {
    display: none;
}

#nav-mobile {
    display: none;
}

/* NAV */

#logo img {
    height: 50px;
    width: 211px;
}

header {
    padding: 40px 4%;
    background-color: #050202;
    position: fixed;
    width: 100%;
    z-index: 900;
}

header >.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #ffa500;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

header a:hover {
    color: #f4e5e5;
    transform: scale(1.50);
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
    padding: 0 50px;
    font-size: 18px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffa500;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #ffa500;
    transform: scale(0.8);
}

.btn-contato button {
    background-color: #ffa500;
    color: #050202;
    display: block;
    text-decoration: none;
}

.btn-contato a:hover {
    color: #050202;
    transform: scale(1.0);
}


/* PRIMEIRO CONTEUDO */
#conteudo-principal {
    padding: 200px 4%;
    padding-bottom: 100px;
}

#conteudo-principal
.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

#conteudo-principal h1 {
    color: #ffdddd;
    font-size: 54px;
    line-height: 45px;
}

#conteudo-principal h1 span {
    color: #ffa500;
}

#conteudo-principal p {
    color: #ffdddd;
    margin: 50px 0;
    font-size: 20px;
}

.foto-principal {
    position: relative;
    animation: animacao-foto 3s ease-in-out infinite alternate;
}

.foto-principal img {
    width: 411px;
}


@keyframes animacao-foto {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

.btn-projetos button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    margin: 50px 0px;
    transition: 0.2s;
    margin-right: 30px
}

.btn-projetos button:hover {
    box-shadow: 0px 0px 8px #ffa500;
    transform: scale(1.10);
}

.btn-projetos button {
    text-decoration: none;
    background-color: #ffa500;
    color: #050202;
}

.btn-baixar-cv button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    margin: 50px 0px;
    transition: 0.2s;
}

.btn-baixar-cv button:hover {
    box-shadow: 0px 0px 8px #ffa500;
    transform: scale(1.10);
}

.btn-baixar-cv button {
    background-color: #ffa500;
    color: #050202;
    text-decoration: none;
}

/* SEGUNDA SECTION */
#skills {
    padding: 30px 4%;
}

.skills-box {
    color: #ffdddd;
    border-radius: 20px;
    padding: 40px;
    margin-top: 50px;
    transition: 0.2s;
}

.skills-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffdddd;
}

.skills-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.skills-box p {
    line-height: 20px;
    font-size: 17px;
    text-align: justify;
}

.fa-solid {
    color: #ffa500;
    font-size: 80px;
    margin-bottom: 40px;
}

.fa-graduation-cap {
    color: #ffdddd;
}

/* SECTION SOBRE */
#sobre {
    padding: 90px 4%;
}

#sobre h2 {
    font-size: 40px;
    align-items: first baseline;
    gap: 60px;
    margin-bottom: 40px;
}

#sobre .flex {
    gap: 70px;
}

.img-sobre img {
    height: 580px;
    width: 300px;
    border-radius: 40px;
}

.sobre-texto {
    color: #ffdddd;
}

.sobre-texto p {
    margin: 20px 0;
    text-align: justify;
    font-size: 20px;
}

.social button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    margin-bottom: 400px;
    font-size: 40px;
    background-color: #050202;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 15px;
    transition: 0.2s;
}

.social button:hover {
    transform: scale(1.20);
    box-shadow: 0px 0px 8px #ffa500;
}

.fa-brands {
    color: #ffdddd;
}

/* ESTILO DA SECTION PORTFÓLIO */
#portfolio {
    padding: 30px 4%;
    box-shadow: 0 0 40px 10px #ffa60094;
}

.img-port {
    margin-top: 60px;
    width: 360px;
    height: 460px;
    background-color: #ffa500;
    background-size: cover;
    background-position: 100% 0%;
    transition: 7s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#portfolio .flex{
    justify-content: space-around;
}

.img-port:hover {
    background-position: 100% 100%;
}

.nome-projeto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
    color: #050202;
    opacity: 0;
    transition: 0.5s;
}

.nome-projeto:hover {
    opacity: 1;
    background-color: #d7c6a757;
    border-radius: 0;
}

.links-projetos {
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 80px;
    color: #f4e5e5;
    font-size: 18px;
    text-decoration: double;
}

/* Redes e contato */
.table {
    border: 3px ridge #ffa500;
    margin-top: 20px;
    margin-bottom: 70px;
    color: #f4e5e5;
    font-size: 20px;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.table a {
    color: #ffa500;
    text-decoration: none;
}

/* RODAPE */
footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffa60094;
}

.rodape-baixo {
    color: #ffa500;
    border-top: 2px solid #ffa500;
}

.rodape-baixo p {
    margin-top: 15px;
}

.social button {
    margin-bottom: 20px;
}

.logo-rodape img {
    width: 211px;
    height: 50px;
    margin-right: 700px;
}

/* RESPONSIVO */

@media screen and (max-width: 1080px) {
    /* GERAIS */
    * {
        max-width: 100%;
    }

    html {
        overflow-x: hidden;
    }

    header {
        padding-top: 5px;
        max-width: 100%;
        overflow-x: hidden;
        padding-bottom: 0.2rem;
    }

    .interface {
        padding-top: 10px;
        max-width: 100%;
        justify-content: none;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }

    .flex {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #conteudo-principal .flex {
        flex-direction: column-reverse;
    }
    
    /* NAV */
    .menu, .btn-contato {
        display: none;
    }

    #logo img {
        width: 160px;
    }

    #logo img:hover {
        transform: scale(0.7);
    }

    /* NAV MOBILE */
    .abrir-menu i{
        color: #ffa500;
        font-size: 35px;
        margin-top: 20px;
        padding-right: 2.5rem;
    }

    #nav-mobile {
        color: #f4e5e5;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        width: 0%;
        overflow: hidden;
        transition: 0.4s;
        display: block;
        max-width: 100%;
        overflow-x: hidden;
    }

    #nav-mobile.menu-aberto {
        width: 57%;
        overflow-x: hidden;
    }

    #nav-mobile ul {
        text-align: right;
    }

    #nav-mobile li {
        padding-right: 10px;
    }

    #nav-mobile li a {
        font-size: 18px;
        padding: 30px 4%;
        transition: 0.3;
    }

    #nav-mobile li a:hover {
        transform: none;
    }

    #btn-abrir-menu {
        display: block;
    }

    .btn-fechar {
        padding: 20px 5%;
    }

    .btn-fechar i {
        color: #ffa500;
        font-size: 30px;
        margin-top: 20px;
    }


    /* FIM DA NAV MOBILE */

    /* TOPO */
    #conteudo-principal {
        padding: 20px 7%;
    }

    #conteudo-principal h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #conteudo-principal .flex {
        gap: 40px;
    }

    .foto-principal img {
        width: 100%;
        margin-top: 114px;
        margin-left: 13px;
    }

    #conteudo-principal p {
        text-align: justify;
        font-size: 16px;
    }

    .btn-projetos button {
        display: none;  
    }

    .btn-baixar-cv button{
        padding: 5px 30px;
        font-size: 15px;
        font-weight: 600;
        margin: 5px 0px;
    }

    /* DIFERENCIAIS */
    #skills {
        padding: 40px 8%;
    }

    #skills h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .skills-box {
        margin-top: 40px;
    }

    .skills-box h3 {
        margin-top: 10px;
        font-size: 20px;
    }

    .titulos-perso {
        margin-top: 50px;
    }

    .skills-box:hover {
        transform: scale(1.0);
    }

    .skills-box p {
        line-height: 20px;
        font-size: 12px;
    }

    .fa-solid {
        font-size: 50px;
        margin-bottom: 40px;
    }

    /* SOBRE */
    .img-sobre img {
        height: 470px;
        width: 280px;
        margin-left: 40px;
    }

    #sobre h2 {
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
    }

    .sobre-texto p {
        padding: 10px 8%;
        text-align: justify;
        font-size: 14px;
    }

    .social {
        font-size: 35px;
        text-align: center;
    }

    /* PORTFOLIO */
    #portfolio {
     padding: 40px 8%;
    }

    #portfolio h2 {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    #portfolio .flex {
        gap: 50px;
    }
    
    .links-projetos {
        display: flex;
        text-align: center;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #3c8ce8;
    }

    /*  CONTAS E REDES */
    #contatos {
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    #contatos h2 {
        font-size:18px;
        margin-bottom: 20px;
    }
    
    .table {
        margin-top: 30px;
        font-size: 14.5px;
    }


    /* RODAPE */
    footer {
        padding: 50px 8%;
    }

    .social button {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .logo-rodape img {
        width: 150px;
        height: 40px;
    }

    .rodape-baixo p {
        margin-top: 15px;
        font-size: 11px;
    }

}
